@*@model MvcMovie.Models.Blog*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div ng-controller="movieblogcontroller">
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal" ng-repeat="item in blogList">
        <dt>
            Author
        </dt>

        <dd>
            {{item.Author}}
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            {{item.Title}}
        </dd>


        <dt>
          Post
        </dt>

        <dd>
            {{item.Post}}
        </dd>


        <dt>
           Published
        </dt>

        <dd>
            {{item.Published}}
        </dd>

    </dl>
</div>
<p>
        
        <a ng-href="@Url.Content("~/Blogs/")">Back to List</a>
      
</p>
