@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To My Site</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/2/2f/Ghostbusters_%281984%29_theatrical_poster.png" class="img"/>
        <p><a class="btn btn-default" href="http://www.imdb.com/title/tt0087332/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/I/91EbJZH9JWL._SY445_.jpg" class="img"/>
        <p><a class="btn btn-default" href="http://www.imdb.com/title/tt0139654/?ref_=nv_sr_1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <img src="http://2.bp.blogspot.com/-MlWWsfXTe3Q/URRKp9lQyWI/AAAAAAAAC2I/tg11iUWtHd4/s1600/Titanic1997.jpg" class="img"/>
        <p><a class="btn btn-default" href="http://www.imdb.com/title/tt0120338/?ref_=nv_sr_1">Learn more &raquo;</a></p>
    </div>
</div>